In [1]:
# load model and scaler and make predictions on new data
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
import pickle
import pandas as pd 
df = pd.read_csv('final-step1.csv')

In [2]:
# load the model
xg = joblib.load('xg1.joblib')

# load the scaler
std = joblib.load('std_scaler1.joblib')

#Load the encoder
encoder = joblib.load('encoder1.joblib')

In [3]:
#Getting an Input
carinfo = ['Kia','Cerato',2012.0,80000.0,'manual','gas']

In [4]:
#The input before processing
input = pd.DataFrame([carinfo],columns=['Make','Model', 'Year', 'Km', 'Transmission', 'Fuel'])
input

  Make   Model    Year       Km Transmission Fuel
0  Kia  Cerato  2012.0  80000.0       manual  gas

In [5]:
#Encoding the input
x = encoder.transform(input)
x

            Make          Model    Year       Km   Transmission           Fuel
0  476305.433596  390812.403758  2012.0  80000.0  141122.129693  399147.828124

In [6]:
#Scaling the input
x = pd.DataFrame(std.transform(x) , columns=input.columns)
x

       Make     Model      Year        Km  Transmission      Fuel
0  0.393233 -0.010845  0.002155 -0.543797      -1.47141  0.148202

In [7]:
#Predicting the input price 
predictions = xg.predict(x)
predictions

array([298685.7], dtype=float32)

In [8]:
#Checking the Result

#Return Min and Max Price
df1 = df[(df['Make']==carinfo[0]) & (df['Model']==carinfo[1]) & (df['Year']==carinfo[2])]

if len(df1. index) > 1:
    print('Min Price: '+ str(df1['Price'].min()))
    print('Max Price: '+ str(df1['Price'].max()))
else :
    print('Information not available')

Min Price: 260000.0
Max Price: 400000.0

In [9]:
df1 = df[(df['Model']==carinfo[1]) & (df['Year']==carinfo[2])]
df1

      Make   Model    Year        Km Transmission         Fuel     Price
2559   Kia  Cerato  2012.0  235000.0    automatic          gas  300000.0
7611   Kia  Cerato  2012.0  288000.0    automatic          gas  285000.0
8189   Kia  Cerato  2012.0  150000.0    automatic  natural gas  260000.0
8816   Kia  Cerato  2012.0  190000.0    automatic          gas  260000.0
9076   Kia  Cerato  2012.0   96000.0    automatic          gas  335000.0
9191   Kia  Cerato  2012.0  310000.0    automatic          gas  350000.0
9364   Kia  Cerato  2012.0  130000.0    automatic          gas  375000.0
10235  Kia  Cerato  2012.0  111000.0    automatic          gas  400000.0
13913  Kia  Cerato  2012.0  220000.0    automatic          gas  269000.0
15996  Kia  Cerato  2012.0  170000.0    automatic          gas  350000.0
16689  Kia  Cerato  2012.0  197000.0    automatic          gas  400000.0
17036  Kia  Cerato  2012.0   90000.0    automatic          gas  330000.0