In [129]:
# load model and scaler and make predictions on new data
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
import pickle
import pandas as pd 
df = pd.read_csv('cars-cleaned.csv')

In [7]:
# load the model
xg = joblib.load('xg.joblib')

# load the scaler
std = joblib.load('std_scaler.joblib')

#Load the encoder
encoder = joblib.load('encoder.joblib')

In [87]:
carinfo = ['Volkswagen','Golf',2015.0,80000.0,'manual','gas']

In [88]:
input = pd.DataFrame([carinfo],columns=['Make','Model', 'Year', 'Km', 'Transmission', 'Fuel'])
input.dtypes

Make             object
Model            object
Year            float64
Km              float64
Transmission     object
Fuel             object
dtype: object

In [89]:
x = encoder.transform(input)
x

            Make          Model    Year       Km  Transmission           Fuel
0  490657.393851  424123.856173  2015.0  80000.0  172828.19266  488667.832477

In [90]:
x = pd.DataFrame(std.transform(x) , columns=input.columns)
x

       Make     Model      Year        Km  Transmission      Fuel
0  0.030528 -0.156432  0.271223 -0.535324     -1.550499  0.159841

In [91]:
predictions = xg.predict(x)
predictions

array([467155.], dtype=float32)

In [95]:
#Return Min and Max Price
df1 = df[(df['Make']==carinfo[0]) & (df['Model']==carinfo[1]) & (df['Year']==carinfo[2])]

if len(df1. index) > 1:
    print('Min Price: '+ str(df1['Price'].min()))
    print('Max Price: '+ str(df1['Price'].max()))
else :
    print('Information not available')

Information not available